<nav class="gradient_blue shadow nav_bar_container">
    <ul class="no_select nav_bar">
    <li><a href="/" class="flex flex_center nav-home"><img src="/assets/home.svg" alt="home"></a></li>
    <li><a href="/Activity" class="nav-activity">Activity</a></li>
    <li class="logo">
        <a href="/" class="flex"><img src="/assets/winter_logo-w.svg" alt="Winter Logo" /></a>
    </li>
    <li class="m_left_auto">
        <button href="/Account/Login" class="btn medium round login_btn_bg shadow hover-w-mb" onclick="window.location.href='/account/login'" id="nav_login_button">
        <svg-login></svg-login>login
        </button>
    </li>
    </ul>
</nav>