<nav class="gradient_blue shadow nav_bar_container">
    <ul class="no_select nav_bar">
    <li>
        <a href="/" class="flex flex_center"><img src="/assets/home.svg" width="30px" alt="home"></a>
    </li>
    <li><a href="/Activity">Activity</a></li>
    <li class="logo">
        <a href="/" class="flex"><img src="/assets/winter_logo-w.svg" alt="Winter Logo" /></a>
    </li>
    </ul>
</nav>