<nav class="gradient_blue shadow nav_bar_container">
    <ul class="no_select nav_bar">
        <li><a href="/" class="flex flex_center nav-home"><img src="/assets/home.svg" alt="home"></a></li>
        <li><a href="/Activity" class="nav-activity">Activity</a></li>
        <li class="logo">
            <a href="/" class="flex"><img src="/assets/winter_logo-w.svg" alt="Winter Logo" /></a>
        </li>
        <li class="pseudo-btn m_left_auto">
            <input type="checkbox" id="hamburger-check">
            <label class="hamburger" for="hamburger-check">
                <svg-hamburger></svg-hamburger>
                <svg-x></svg-x>
            </label>
            <ul class="hamburger-dropdown">
                <li><a href="/"><svg-home></svg-home> Home</a></li>
                <li><a href="/Activity"><svg-tile></svg-tile> View Activity</a></li>
            </ul>
        </li>
    </ul>
</nav>