@{
    ViewData["Title"] = "Register";
}

@section styles {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="register-card">
    <img src="\assets\winter_login_pic.jpg" alt="register background">
    <h2>CREATE ACCOUNT</h2>
    <form action="">
        <div class="register-box">
            <img src="\assets\Profile-b.png" alt="username">
            <input type="text" placeholder="username" required>
        </div>
        <div class="register-box">
            <img src="\assets\mail.svg" alt="email">
            <input type="email" placeholder="email" required>
        </div>
        <div class="register-box">
            <img src="\assets\lock.svg" alt="password">
            <input type="password" placeholder="password" required>
        </div>
        <div class="register-box">
            <img src="\assets\lock.svg" alt="password">
            <input type="password" placeholder="confirm password" required>
        </div>
        <div class="register-button">
            <button>next</button>
        </div>
        <div class="login-description">
            <p>Already have an account?<a href="~/Account/Login">login</a></p>
        </div>
    </form>
</div>