@{
    ViewData["Title"] = "Register";
}

@section styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
}


<div class="register-card">
    <img src="\assets\winter_login_pic.jpg" alt="register background">
    <h2>CREATE ACCOUNT</h2>
    <form action="">
        <div class="register-box2">
            <input type="text" placeholder="first name" required>
        </div>
        <div class="register-box2">
            <input type="text" placeholder="last name" required>
        </div>
        <div class="register-box2">
            <input type="date" required>
        </div>
        <div>
            <div class="gender-button">
                <button class="male-button">
                    <img src="\assets\male_icon-b.svg" alt="male icon">
                </button>
                <button class="lgbtq-button">
                    <img src="\assets\heart.svg" alt="lgbtq+ icon">
                </button>
                <button class="female-button">
                    <img src="\assets\female_icon-p.svg" alt="female icon">
                </button>
            </div>
        </div>
        <div class="register-button">
            <button>create account</button>
        </div>
        <div class="login-description">
            <p>Already have an account?<a href="~/Account/Login">login</a></p>
        </div>
    </form>
</div>