@{
    ViewData["Title"] = "Create";
}

<form class="create-container" id="create_activity_form">
    <div class="create-card">
        <div class="create-header">
            <p>Details</p>
        </div>
        <div class="create-details">
            <div class="form-group">
                <label for="create_title">Activity Header :</label>
                <input type="text" name="Title" id="create_title" required/>
            </div>
            <div class="form-group">
                <label for="create_detail">Activity Details :</label>
                <textarea rows="6" type="text" name="Detail" id="create_detail" required></textarea>
            </div>
            <div class="form-group">
                <label for="create_date_time">Date - Time :</label>
                <input type="datetime-local" name="Activity_time" id="create_date_time" required/>
            </div>
            <div class="form-group">
                <label for="duration">Duration :</label>
                <input type="time" name="Duration" id="duration" required/>
            </div>
            <div class="form-group">
                <label for="create_location">Location :</label>
                <input type="text" name="Location" id="create_location" required/>
            </div>
            <div class="form-group">
                <label>Number of member : (Include yourself)</label>
                <number-input data-name="Max_member"></number-input>
            </div>
            <div class="form-group">
                <label>Tags :</label>
                <tag-select></tag-select>
            </div>
            <div class="form-group">
                <label>Membership approval :</label>
                <div class="radio-input">
                    <div class="radio-input-choice">
                        <input type="radio" name="Approval" value="false" required/>
                        <p>Approval not needed</p>
                    </div>
                    <div class="radio-input-choice">
                        <input type="radio" name="Approval" value="true" required/>
                        <p>All members must be approved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-card">
        <div class="create-header">
            <p>Requirements (Optional)</p>
        </div>
        <div class="create-details">
            <div class="form-group">
                <label>Gender :</label>
                <div class="radio-input">
                    <div class="radio-input-choice">
                        <input type="radio" name="Gender" value="male"/>
                        <p>Male</p>
                    </div>
                    <div class="radio-input-choice">
                        <input type="radio" name="Gender" value="female"/>
                        <p>Female</p>
                    </div>
                    <div class="radio-input-choice">
                        <input type="radio" name="Gender" value="lgbtq"/>
                        <p>LGBTQ+</p>
                    </div>
                    <div class="radio-input-choice">
                        <input type="radio" name="Gender" value="none"/>
                        <p>None</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Age</label>
                <number-input data-name="Age"></number-input>
            </div>
            <div class="form-group">
                <label for="create_other">Other :</label>
                <input type="text" name="Other" id="create_other"/>
            </div>
        </div>
    </div>
    <div class="last-card">
        <div class="check-before">
            <input type="checkbox" required/>
            <p>By creating an activity, you agree to our <span class="red">Terms of Use</span> and <span class="red">Privacy Policy</span>.</p>
        </div>
        <button type="button" class="btn round medium create-btn" onclick="submit_create_activity()" id="create-activity-btn">
            <img src="assets/plus-w.svg" alt="plus icon">Create
        </button>
    </div>
</form>

<script>
    async function submit_create_activity() {
        const form = document.getElementById("create_activity_form");
        const formData = new FormData(form);
        const data = {
            Owner: '@ViewData["Username"]',
            Title: formData.get("Title"),
            Detail: formData.get("Detail"),
            @* Create_time: new Date().toISOString(), *@
            Activity_time: formData.get("Activity_time"),
            Duration: formData.get("Duration"),
            Location: formData.get("Location"),
            Max_member: parseInt(formData.get("Max_member")) || 0,
            Approval: formData.get("Approval") === "true",
            Tags: formData.getAll("Tags"),
            Requirement: {
                Gender: formData.get("Gender"),
                Age: parseInt(formData.get("Age")) || 0,
                Other: formData.get("Other"),
            },
        };

        console.log(JSON.stringify(data));

        await fetch('http://localhost:5115/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(result => {
            console.log(result);
        })
        .catch(error => {
            console.error(error);
        });
        
    }
</script>