@{
    ViewData["Title"] = "Friend";
}

@* <div class="display-option-container">
    <search-friend-bar></search-friend-bar>
</div> *@
<div class="create-container">
    <div class="create-card">
        <div class="create-header">
                <p>My Friend</p>
        </div>
    </div>
</div>