@{
    ViewData["Title"] = "Joined Activity";
}
<ul class="select_type">
    <li>
        <button class="type" id="Upcoming_button">
            Up coming
        </button>
    </li>
    <li>
        <button class="type" id="History_button">
            History
        </button>
    </li>
</ul>