@{
    ViewData["Title"] = "Edit Profile";
}

@section styles {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
}

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <p>Profile</p>
        </div>

        <div class="account-info">
            <div class="upload-profile-picture">
                <img src="\assets\Profile-w-b.png" alt="profile picture" class="profile-picture">
                <button class="upload-profile-button">
                    <img src="\assets\upload-03.svg" alt="upload profile picture">
                    <p>Upload Photo</p>
                </button>
            </div>

            <h6>@@marklnwza007</h6>
            <h4>Peerawat Ingkhasantatikul</h4>
            <h6>20 years old</h6>
        </div>

        <fieldset class="profile-details">
            <div>
                <img src="\assets\location_on.svg" alt="location">
                <input type="text" value="Bangkok, Thailand">
            </div>
            <div>
                <img src="\assets\phone.svg" alt="phone">
                <input type="text" value="081-2895077">
            </div>
            <div>
                <img src="\assets\mail.svg" alt="mail">
                <input type="text" value="mark.peerawat@gmail.com">
            </div>
        </fieldset>

        <div class="profile-rating">
            <img src="\assets\icon _star.svg" alt="star icon">
            <p>1.55</p>
        </div>

        <div class="joined-review">
            <div class="profile-joined">
                <p>4</p>
                <p>Joined</p>
                <a href="#">View all activity</a>
            </div>

            <div class="profile-reviews">
                <p>5</p>
                <p>Reviews</p>
                <a href="#">View all review</a>
            </div>
        </div>
    </div>

    <div class="profile-right-container">
        <div class="bio-card">
            <div class="profile-header">
                <p>Bio</p>
            </div>

            <fieldset class="edit-bio">
                <div class="bio-input">
                    <label for="about-me">About me</label>
                    <textarea>Hello,I'm a 2nd-year Computer Engineering student.</textarea>
                </div>
                <div class="bio-input">
                    <label for="interesting">My Interests</label>
                    <textarea>I am interesting in web development.</textarea>
                </div>
                <div class="bio-input">
                    <label for="hobby">My Hobby</label>
                    <textarea>I like watching movie and listening to music.</textarea>
                </div>
            </fieldset>
        </div>

        <div class="personal-card">
            <div class="profile-header">
                <p>Personal Information</p>
            </div>

            <fieldset class="user-fullname">
                <div class="profile-input">
                    <label for="fisrtname">First Name</label>
                    <input type="text" value="Peerawat">
                </div>
                <div class="profile-input">
                    <label for="lastname">Last Name</label>
                    <input type="text" value="Ingkhasantatikul">
                </div>
            </fieldset>

            <fieldset class="user-fullname">
                <div class="profile-input">
                    <label for="birthdate">Birth</label>
                    <input type="date">
                </div>
                <div class="profile-input">
                    <label for="gender">Gender</label>
                    <div class="gender-button">
                        <button class="male-button">
                            <img src="\assets\male_icon-b.svg" alt="male icon">
                        </button>
                        <button class="lgbtq-button">
                            <img src="\assets\heart.svg" alt="lgbtq+ icon">
                        </button>
                        <button class="female-button">
                            <img src="\assets\female_icon-p.svg" alt="female icon">
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="save-cancel-button">
        <button class="save-button">
            <p>Save</p>
        </button>
        <button class="cancel-button">
            <p>Cancel</p>
        </button>
    </div>
</div>