@{
    ViewData["Title"] = "All Activity";
}

<search-bar></search-bar>
@* @ViewBag.keyword *@
@* for showing search keyword that is sent to back *@

<tag-filter></tag-filter>

@* <ul id="show-tags"></ul> *@
@* for showing selected tags that are sent to back *@

@*<act-card-test> is for preview only, use <act-card> instead*@
<div id="all-activities-container">
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
    <act-card-test></act-card-test>
</div>

