@{
    ViewData["Title"] = "All Activity";
}
<search-bar></search-bar>
@* @ViewBag.keyword *@

<tag-filter></tag-filter>

@* <ul id="show-tags"></ul> *@

<div class="activity-preview shadow">
    <div class="bb-w">
        name
    </div>
    <div>
        name
    </div>
    <div class="bb-w">
        name
    </div>
    <div class="">
        name
    </div>
    <ul class="act-info">
        <li>
            time
        </li>
        <li>
            date
        </li>
        <li>
            <button class="btn small round mb-w">
                join
            </button>
        </li>
    </ul>
</div>