@{
    ViewData["Title"] = "Activity";
}

<all-act-banner></all-act-banner>

<search-bar></search-bar>
@* @ViewBag.keyword *@
@* for showing search keyword that is sent to back *@
<div class="filter-container">
    <tag-filter></tag-filter>
    <div class="filter-options">
        <div class="pseudo-btn">
            <input type="checkbox" name="descending" id="display-order">
            <label for="display-order" class="filter-btn btn w-bb-bb display-order hover-bb-w">
                <svg-order></svg-order>
            </label>
        </div>
        <display-sort></display-sort>
        <display-filter></display-filter>
    </div>
</div>

@* <ul id="show-tags"></ul> *@
@* for showing selected tags that are sent to back *@

<div id="all-activities-container">
</div>


<div class="pagination-container flex round shadow">
    <pagination-item data-value="prev"></pagination-item>
    <pagination-item data-value="1"></pagination-item>
    <pagination-item data-value="2"></pagination-item>
    <pagination-item data-value="3"></pagination-item>
    <pagination-item data-value="..."></pagination-item>
    <pagination-item data-value="8"></pagination-item>
    <pagination-item data-value="9"></pagination-item>
    <pagination-item data-value="10"></pagination-item>
    <pagination-item data-value="next"></pagination-item>
</div>

<script>    
    function get_filters() {
        tag_filter_result = document.querySelector('tag-filter').result;
        filter_result = document.querySelector('display-filter').result;
        sort_result = document.querySelector('display-sort').result;
        order_result = document.getElementById("display-order").checked;
        search_result = document.querySelector('search-bar').result;
        filter_datas = {
            tag_filter: tag_filter_result,
            filter: filter_result,
            sort: sort_result,
            descending: order_result,
            seach_key: search_result
        }
        console.log(filter_datas)
        return filter_datas
    }

    const display_sort = document.querySelector('display-sort');
    display_sort.addEventListener("change", () => {
        get_filters()
    })

    window.onload = fetch_activities()

    async function fetch_activities() {
        const activity_container = document.getElementById("all-activities-container");

        try {
            const response = await fetch('/Activity/GetActivityCards', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(get_filters())
            });

            const activities = await response.json();
            console.log(activities);

            activity_container.innerHTML = '';

            activities.forEach(activity => {
                const activityCard = new ActivityCard(activity);
                activity_container.appendChild(activityCard);
            })

        } catch (error) {
            console.error(error);
        }
    }
</script>