@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="home-background gradient_blue">
        <div class="home-picture">
            <div class="home-text">
                <div class="home-big-text">
                    <h1>Join activity.</h1>
                    <h1>Meet new friends.</h1>
                </div>
                <h1 class="home-small-text">We provide “Winter”. Let’s go !</h1>
            </div>
            <div>
                <div class="home-button">
                    <button class="btn round large mb-w hover-db-w home-button-size">
                        View Activity
                    </button>
                    <button class="btn round large w-b hover-db-w home-button-size">
                        <img src="assets/plus-b.svg" alt="plus icon">Create Acvtivity
                    </button>
                </div>
            </div>
        </div>
        <div class="home-detail">
            <div class="home-detail-header">
                <h1 class="home-big-text ">What is Winter ?</h1>
                <hr class="home-line home-line1">
            </div>
            <h2>Winter is a fun website where you can join activities, meet new friends, and have a great time. There are many things to do, so you can learn, play, and enjoy with others. Come and have fun with us!</h2>
        </div>
        <div class="home-detail">
            <div class="home-detail-header">
                <h1 class="home-big-text ">How To Use ?</h1>
                <hr class="home-line home-line2">
            </div>
            <h2>Winter is a fun website where you can join activities, meet new friends, and have a great time. There are many things to do, so you can learn, play, and enjoy with others. Come and have fun with us!</h2>
        </div>
        <div class="home-detail">
            <div class="home-detail-header">
                <h1 class="home-big-text ">About Us</h1>
                <hr class="home-line home-line3">
            </div>
            <h2>This is our website project, our website project is developed as part of the Web Application Development subject at King Mongkut's Institute of Technology Ladkrabang. Our team is building this project using the .NET MVC framework.</h2>
        </div>
    </div>
</div>