@{
    ViewData["Title"] = "Home";
    var token = Context.Request.Cookies["token"];
    bool isLoggedIn = !string.IsNullOrEmpty(token);
}

<div class="home">
    <section id="first-section">
        <div class="home-background gradient_blue">
            <div class="home-picture animated-bg">
                <div class="home-text">
                    <div class="home-big-text">
                        <h1>Join activity.</h1>
                        <h1>Meet new friends.</h1>
                    </div>
                    <h1 class="home-small-text">We provide “Winter”. Let’s go !</h1>
                </div>
                <div>
                    <div class="home-button">
                        <button class="btn round large mb-w hover-db-w home-button-size hover-ani-bounce" onclick="window.location.href='/Activity'">
                            View Activity
                        </button>
                        @if (isLoggedIn) {
                            <button class="btn round large w-b hover-w-bb-bb home-button-size hover-ani-glow" onclick="window.location.href='/Create'">
                                <svg-plus></svg-plus>Create Activity
                            </button>
                        }
                        else {
                            <button class="btn round large w-b hover-w-bb-bb home-button-size hover-ani-glow" onclick="window.location.href='/Account/Login'">
                                <svg-plus></svg-plus>Create Activity
                            </button>
                        }
                        
                    </div>
                </div>
            </div>
            <button class="home-scroll">
                <h2>Scroll down</h2>
                <img class="hover-ani-bounce" src="assets/scroll-down.png" alt="Scroll Down">
            </button>
        </div>
    </section>
    <section id="second-section">
        <div class="home-detail">
            <div class="home-detail-header">
                <h1 class="home-big-text ">WHAT IS WINTER?</h1>
                <hr class="home-line">
            </div>
            <div class="home-text1-pic">
                <h2 class="home-text1"><strong>Winter</strong> is a fun website where you can <strong>join activities, meet new friends, and have a great time.</strong> There are many things to do, so you can <strong>learn, play, and enjoy with others.</strong> Come and have fun with us!</h2>
                <img src="assets/home-what-pic.png" alt="friend activity">
            </div>
        </div>
        <div class="home-detail">
            <div class="home-detail-header">
                <h1 class="home-big-text ">HOW IT WORK ?</h1>
                <hr class="home-line">
            </div>
            <div class="home-text2-pic">
                <div class="home-text2">
                    <img src="assets/home-how-to-pic-1.png" alt="friend activity 1">
                    <h3><strong>Create an Activity –</strong> Start by creating a fun activity that others can join.</h3>
                </div>
                
                <img class="home-pic-next" src="assets/home-how-to-pic-next.png" alt="friend activity next">
                <div class="home-text2">
                    <img src="assets/home-how-to-pic-2.png" alt="friend activity 2">
                    <h3><strong>Wait for People to Join –</strong> Others can see your activity and join in.</h3>
                </div>
                <img class="home-pic-next" src="assets/home-how-to-pic-next.png" alt="friend activity next">
                <div class="home-text2">
                    <img src="assets/home-how-to-pic-3.png" alt="friend activity 3">
                    <h3><strong>Have Fun! –</strong> Enjoy your time together and make great memories!</h3>
                </div>
            </div>
        </div>
        <div class="home-detail">
            <div class="home-detail-header">
                <h1 class="home-big-text ">ABOUT US</h1>
                <hr class="home-line">
            </div>
            <div class="home-text3-pic">
                <h2>This is our website project, our website project is developed as part of the <strong>Web Application Development</strong> subject at <strong>King Mongkut's Institute of Technology Ladkrabang.</strong> Our team is building this project using the .NET MVC framework.</h2>
                <h3 class="home-center"><strong>Meet Our Team</strong></h3>
                <div class="home-text3">
                    <div>
                        <img src="assets/monkey.jpg" alt="mebmer-1">
                        <h4>66010393<br>Thuwanun</h4>
                    </div>
                    <div>
                        <img src="assets/monkey.jpg" alt="mebmer-2">
                        <h4>66010786<br>Sataporn</h4>
                    </div>
                    <div>
                        <img src="https://78.media.tumblr.com/d7005d2d042e8f9f79624f6448e3865f/tumblr_oztbghlOKg1vwvx0xo2_400.gif" alt="mebmer-3">
                        <h4>66010948<br>Emily Chow</h4>
                    </div>
                    <div>
                        <img src="https://media.tenor.com/7_KRHOBcSnEAAAAM/happy-birthday-ashleigh.gif" alt="mebmer-4">
                        <h4>66011442<br>Peerawat Ingkhasantatikul</h4>
                    </div>
                    <div>
                        <img src="assets/about-us/tiger.gif" alt="mebmer-5">
                        <h4>66011490<br>Supakarn Tantichawa-ochanon</h4>
                    </div>
                </div>
                <h2 class="home-center"><strong>We hope Winter brings you fun, new friends, and great memories!</strong></h2>
            </div>
            <button class="btn round large mb-w hover-db-w home-button-size home-last-button hover-ani-bounce">
                Let's Start
            </button>
        </div>
    </section>
</div>

<script>
    document.querySelector(".home-scroll").addEventListener("click", function() {
        document.getElementById("second-section").scrollIntoView({ behavior: "smooth" });
    });
    document.querySelector(".home-last-button").addEventListener("click", function() {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });

</script>