@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, World!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="small-btn">join</button>
    <button class="medium-btn">Login</button>
    <button class="large-btn">create Activity</button>
</div>
