:root {
  --blue90: #36b2ff;

  --gray90: #4d4d4d;
  --gray80: #737373;
  --gray70: #9f9f9f;
  --gray60: #c6c6c6;
  --gray50: #e8e8e8;
  --white: #ffffff;

  --blue90: #5fa2ff;
  --blue80: #56beff;
  --blue70: #7fceff;
  --blue60: #77daff;
  --blue50: #56dff4;
  --blue40: #90e1ff;
  --blue30: #a1d4ff;
  --blue20: #adf1fd;
  --blue10: #dff9ff;

  --red: #ff4e4e;
  --yellow: #fdc330;
  --green: #65da8c;
  --pink: #ff90da;

  --shadow: rgba(0, 0, 0, 0.12);
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  gap: 20px;
}

.step {
  color: var(--gray50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: solid 2px var(--gray50);
  border-radius: 50%;
  background-color: var(--white); /* Adjust the color as needed */
  color: var(--gray50);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.bullet.active{
  border-color: var(--blue40);
  background-color: var(--blue40);
} 

.bullet.active span{
  display: none;
} 

.bullet.active::after {
  content: "✓";
  color: var(--white);
}

.step p.active {
  color: var(--blue40);
  font-weight: bold;
}

.step::after {
  content: '';
  position: absolute;
  top: 30%;
  left: 85%;
  width: 40px; 
  height: 2px; 
  background-color: var(--gray50); 
  transform: translateY(-50%);
}

.step.active::after {
  background-color: var(--blue40);
}

.step:last-child::after {
  display: none; 
}


@keyframes animate {
  100%{
    transform: scaleX(2);
  }
}

.login-card,
.register-card {
  color: var(--blue90);
  background-color: var(--white);
  width: 400px;
  height: 550px;
  border-radius: 20px;
}

.login-card {
  margin: 55px auto;
}

.login-card h2 {
  margin: 20px 20px 0 50px;
  color: var(--blue90);
}

.login-box,
.login-button button,
.register-box1,
.register-box2,
.register-button button,
.next-button button {
  width: 300px;
  height: 35px;
  border-radius: 40px;
}

.login-card img,
.register-card img {
  width: 400px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.login-card form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-box {
  background-color: var(--blue40);
  margin: 1px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.login-box img {
  margin: 0 5px;
  width: 20px;
  height: 20px;
}

.login-box input {
  background-color: transparent;
  border: none;
}

.login-box input,
.login-box input::placeholder {
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.login-box button {
  margin-top: 5px;
  background-color: transparent;
  cursor: pointer;
}

.login-box button img {
  width: 20px;
  height: 14px;
}

.login-button button {
  background-color: var(--white);
  color: var(--blue90);
  border: solid 2px var(--blue70);
  font-size: 1rem;
  font-weight: bold;
}

.login-button button:hover {
  color: var(--gray90);
  background-image: url("/assets/login_btn_bg.svg");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.login-description {
  color: var(--gray90);
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 50px;
}

.login-description a {
  color: var(--blue40);
}

.register-card {
  margin: 10px auto;
}

.register-card h2 {
  margin: 20px 20px 0 50px;
  color: var(--blue90);
}

.form-outer {
  width: 200%;
  overflow: hidden;
}

.register-card form {
  padding: 20px;
  display: flex;
  width: 400%;
  flex-direction: row;
}

.page {
  width: 50%;
  padding-left: 20px;
  transition: transform 0.3s ease-in-out;
}

.register-box1 {
  background-color: var(--blue40);
  margin: 5px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.register-box1 img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.register-box1 input {
  background-color: transparent;
  border: none;
}

.register-box1 input,
.register-box1 input::placeholder {
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  margin: 0.1rem;
}

.next-button button {
  color: var(--blue90);
  background-color: var(--white);
  border: solid 2px var(--blue70);
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.next-button button:hover {
  color: var(--white);
  background-image: url("/assets/login_btn_bg.svg");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.register-box2 {
  background-color: var(--white);
  border: solid 2px var(--blue80);
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
}

.register-box2 input,
.register-box2 input::placeholder {
  background-color: transparent;
  color: var(--blue80);
  border: none;
  margin-left: 20px;
  font-weight: bold;
}

.register-button button {
  color: var(--white);
  background-color: var(--blue40);
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

