.banner-container {
    margin: 2em auto 0;
    display: grid;
    width: 65vw;
    height: 25vw;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 15fr 1fr;
    grid-template-areas: 
    "prev display next"
    "page page page";
    overflow: hidden;
}


.banner-prev {
    grid-area: prev;
}

.banner-container *{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    min-height: 0;
}

.banner-container svg{
    height: 2em;
    width: 1.2em;
}

.banner-arrow button{
    background-color: transparent;
    width: 3em;
    height: 3em;
    padding: 0.75em;
    transition: all 0.3s;
}

.banner-arrow button:hover {
    background-color: var(--blue20);
}

.banner-container path{
    fill: var(--blue80);
}

.banner-next {
    grid-area: next;
}

.banner-display {
    background-color: var(--white);
    grid-area: display;
    overflow: hidden;
}

.banner-display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-page {
    grid-area: page;
    gap: 0.5em;
}

.banner-page span{
    width: 1em;
    height: 1em;
}

#banner_pic {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#banner_pic.fade-out {
    opacity: 0.5;
}

#all-activities-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem 1%;
}

#all-activities-container>*{
    flex: 0 1 32.5%;
}

/* Activity card in AllActivity page */
.activity-card {
    width: 100%;
    height: 15.75rem;
    background-color: white;
    border-radius: 1.25rem;
    border: 1px solid var(--gray60);
    display: grid;
    grid-template-rows: 4fr 2.25fr 5.50fr 2.25fr 2.75fr;
    overflow: hidden;
    padding: 0 0.5em;
}

.activity-card > *:not(.act-card-profile-info){
    display: flex;
}

.activity-card .title{
    padding: 0 1em;
    line-height: 1.5;
    overflow: hidden;
    margin: auto 0;
}

.activity-card .act-card-info {
    font-size: 13px;
    justify-content: space-between;
}

.activity-card .act-card-tags-container {
    padding: 0.25em 0 0 0;
    gap: 0.25rem;
}

.act-card-info li{
    gap: 0.35em;
    display: flex;
    align-items: center;
    font-weight: 500;
}


/* search bar style */
.search-bar {
    width: 38%;
    height: 2.5em;
    display: flex;
    margin: 1.75rem auto 0.75rem auto;
    border-radius: 5rem;
    overflow: hidden;
    background-color: var(--white);
}

.search-bar>input{
    border: none;
    padding: 0.67em 1em;
    flex-grow: 1;
    height: 100%;
}

.search-bar-x {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
}

.search-bar-x>button:hover svg path{
    stroke: var(--gray90);
    transition: all 0.4s ease;
}

.search-bar-search {
    width: 2.5rem;
    background-color: var(--blue70);
}

.search-bar-search:hover {
    background-color: var(--blue90);
}

.search-bar-search:hover svg{
    transform: scale(1.05);
}

.act-card-member{
    font-size: 2em;
    font-weight: bold;
    color: var(--blue80);
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    line-height: 1;
}


.filter-container {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    position: relative;
}

.filter-options {
    display: flex;
    gap: 0.25em;
    align-items: flex-end;
}

.filter-btn {
    min-width: 3vw;
    height: 3vw;
    border-radius: 0.3em;
    font-size: 1.1em;
    padding: 0 0.5em;
}

.display-sort:hover,  .display-filter:hover{
    min-width: 5vw;
}

.display-sort:hover::after {
    content: "sort by";
    transition: all 0.1s;
}

.display-filter:hover::after {
    content: "filter by";
    transition: all 0.1s;
}

#display-order:checked + .filter-btn svg-order{
    transform: scaleY(-1);
}

.filter-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    top: 110%;
    width: 15vw;
    background-color: var(--white);
    border-radius: 0.5em;
    overflow: hidden;
}

.filter-header {
    display: flex;
    align-items: center;
    height: 2.5em;
    padding: 3%;
    column-gap: 2%;
    font-weight: 500;
}

.filter-button-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5% 0;;
}

.filter-button-container button {
    width: 47.5%;
}

.range-filter-container {
    padding: 5% 10% 2% 10%;
    display: none;
}

.number-input {
    display: flex;
    justify-content: space-between;
}

.number-input input {
    width: 20%;
    border: none;
    box-shadow: 0px 0px 4px 2px var(--shadow);
    color: var(--blue80);
    font-weight: 500;
    text-align: center;
}

.number-input input::-webkit-outer-spin-button,
.number-input input::-webkit-inner-spin-button {
    margin-right: -5%;
    transform: scaleX(0.8);
}

.pseudo-slider {
    position: relative;
    margin-top: 1em;
    height: 5px;
    background-color: var(--gray50);
    border-radius: 1em;
}

.pseudo-slider div{
    position: absolute;
    height: 100%;
    left: 0%;
    right: 0%;
    background-color: var(--blue80);
    border-radius: 1em;
}

.range-slider {
    position: relative;
}

.range-slider input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-slider input::-webkit-slider-thumb{
    height: 1.2em;
    width: 1.2em;
    border-radius: 1em;
    background-color: var(--blue60);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0px 0px 4px 0px var(--shadow);
}

.range-slider input::-moz-range-thumb{
    height: 1.2em;
    width: 1.2em;
    border-radius: 1em;
    background-color: var(--blue60);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0px 0px 4px 0px var(--shadow);
}

.min-max-text {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding-top: 5%;
}

.min-max-text span {
    color: var(--blue80);
    line-height: 1;
}

.check-filter-container {
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    display: none;
}

.check-filter-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: 1.875em;
}

.check-filter-item label {
    color: var(--blue80);
    font-weight: 500;
}

.check-filter-item input {
    appearance: none;
    border-radius: 10em;
    border: 2px solid var(--blue40);
    width: 1.5em;
    height: 1.5em;
}

.check-filter-item input:hover {
    border: 2px solid var(--blue80);
    outline: 3px solid var(--blue20);
}

.check-filter-item input:checked {
    background-color: var(--blue40);
}

.check-filter-item input:checked:after {
    content: "✔";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125em;
    line-height: 1.3;
    color: var(--white);
}

.sort-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    top: 110%;
    width: 12vw;
    background-color: var(--white);
    border-radius: 0.3em;
    overflow: hidden;
}

.sort-dropdown li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-option-btn {
    width: 100%;
    font-weight: 500;
    color: var(--blue90);
    height: 2em;
    transition: all 0.3s;
}

.sort-option-btn:hover {
    background-color: var(--blue10);
    font-size: 1.02em;
}

.sort-dropdown .pseudo-btn input:checked + label {
    background-color: var(--blue20);
    font-weight: 1000;
}

.show {
    display: block;
}