.act-detail-container {
    height: 82.5vh;
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "main main member"
    "requirement info member";
    margin: 1em auto 0 auto;
    gap: 0.5em;
}

.delete-container {
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 95%;
    margin: auto;
    padding: 0.5em 0;
}

.act-detail-container>* {
    background-color: var(--white);
    padding: 0.5em 1em;
}

.act-detail-main {
    grid-area: main;
}

.act-detail-main>*{
    margin-bottom: 0.5em;
}

.act-detail-main .act-card-profile-info{
    font-size: 1.5rem;
    padding: 0.25em 0;
}

.member-count {
    flex-direction: column;
    align-items: center;
    color: var(--blue80);
    font-weight: bold;
    position: absolute;
    gap: 0.2em;
    line-height: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
}

.act-detail-member {
    grid-area: member;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 2em 1em;
    background-color: var(--white);
}

.act-detail-requirement {
    grid-area: requirement;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 2px solid var(--blue60);
    padding-bottom: 1em;
}

.act-detail-requirement svg {
    width: 1.5em;
}

.act-detail-requirement ul{
    gap: 0.25em;
}

.act-detail-requirement p {
    font-size: 1.125em;
    padding: 0.5em;
    height: 50%;
}

.act-detail-req-header {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    gap: 0.25em;
    padding: 0.25em 0.5em 0 0;
}

.act-detail-info {
    grid-area: info;
    padding: 0.5em 0.5em;
    background-color: var(--blue40);
    max-height: 100%;
}

.act-detail-info ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 0.25em;
}

.act-detail-info li{
    display: flex;
    padding: 0.25em 0.25em;
    gap: 0.5em;
    min-height: 2em;
    max-height: 4.7em;
    border-radius: 0.25em;
    overflow: hidden;
    background-color: var(--white);
    line-height: 1.5;
}

.act-detail-location {
    flex-grow: 1;
}

.act-detail-info svg {
    width: 1.5em;
    height: 1.5em;
}

.act-detail-title {
    padding: 1em;
    display: grid;
    grid-template-columns: 1.75em auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "icon header"
    ". description";
    gap:0 0.5em;
    font-size: 1.25em;
}

.act-detail-title svg-bookmark{
    grid-area: icon;
    margin: auto;
}

.act-detail-title svg {
    width: 1.75em;
}

.act-detail-title h1 {
    grid-area: header;
    font-size: 1.75em;
}

.act-detail-title p {
    grid-area: description;
    overflow: hidden;
    word-wrap: break-word;
}

.act-detail-member header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25em;
    font-size: 1.25em;
    font-weight: bold;
}

.act-detail-member h2 {
    display: flex;
    align-items: center;
    gap: 0.25em;
    color: var(--blue80);
}

.act-detail-member h2 svg {
    width: 1.25em;
    height: 1.25em;
}

.act-detail-member header span{
    color: var(--blue80);
    font-size: 1.5em;
}

.act-detail-member ul {
    padding: 0.5em 0.3em;
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
    overflow-y: scroll;
}

.act-detail-member ul::-webkit-scrollbar {
    width: 0.2em;
    height: 5px;
}

.act-detail-member ul::-webkit-scrollbar-thumb {
    background: var(--blue60);
    border-radius: 0.5em;
}

.act-detail-member ul::-webkit-scrollbar-track {
    background: var(--gray50);
    border-radius: 0.5em;
}

.pending-member-item {
    display: flex;
    height: 4em;
    border-radius: 0.75em;
    align-items: center;
    line-height: 1;
    padding: 0.4em 0.75em;
    gap: 0 0.5em;
    font-weight: 600;
    background-color: var(--white);
    border: 2px solid var(--blue60);
}

.pending-member-item span {
    font-size: 1.25em;
}

.pending-member-item svg path{
    fill: var(--blue40);
}

.pending-member-item svg{
    width: 100%;
    height: 2.25em;
}

.member-list-item {
    display: grid;
    height: 4em;
    grid-template-columns: 1fr 5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "profile name approval"
    "profile role approval";
    gap: 0.1em 0.5em;
    line-height: 1;
    padding: 0.4em 0.75em;
    border-radius: 0.75em;
}

.member-list-item-profile{
    grid-area: profile;
    display: flex;
    position: relative;
    width: fit-content;
}

.member-list-item-profile .profile{
    height: 100%;
    object-fit: cover;
}

.member-list-item-profile .crown{
    width: 60%;
    position: absolute;
    transform: translate(-50%, -60%);
    left: 50%;
}

.member-list-item-name {
    grid-area: name;
    font-size: 1.25em;
    align-self: end;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.member-list-item-role {
    grid-area: role;
    font-weight: 500;
    color: var(--gray70);
}

.act-detail-btn-container {
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: center;
}

.act-detail-btn-container>* {
    flex: 0 1 50%;
}

.act-detial-leave-btn {
    min-width: 100%;
}

.act-detail-chat{
    min-width: 0em;
}

.act-detail-chat svg{
    height: 1.5em;
    width: 1.5em;
}

.member-list-item-approval {
    grid-area: approval;
    justify-content: flex-end;
    column-gap: 0.25em;
}

.approval {
    height: 2.25em;
    width: 2.25em;
}

.approval svg {
    width: 1.25em;
    height: 1.25em;
}

.approval-req {
    display: flex;
    gap: 1%;
    align-items: center;
    font-weight: 500;
}

.close-btn svg{
    width: 0.9em;
    height: 0.9em;
    stroke-width: 10px;
}

.close-btn path{
    stroke-width: 3px;
}

.act-detail-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray60);
}

.act-detail-status {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 700;
}

.act-detail-head-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.act-detail-close-date {
    color: var(--gray80);
    font-size: 0.875rem;
}

@media screen and (max-width: 480px) {
    .act-detail-container {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 1em 0;
    }
    
    .act-detail-container>* {
        background-color: var(--white);
        padding: 0.5em 1em;
        border: none;
    }

    .act-detail-main {
        border-radius: 0.4em 0.4em 0 0;
        min-height: 280px;
    }

    .act-detail-main .act-card-profile-info{
        font-size: 1.25rem;
    }

    .act-detail-title{
        padding: 0.5em;
        font-size: 1rem;
    }

    .act-detail-title svg{
        width: 2em;
        height: 2em;
    }

    .act-detail-member {
        margin-top: 1em;
        height: auto;
    }

    .act-detail-requirement {
        border-radius: 0;
    }

    .act-detail-info {
        border-radius: 0 0 0.4em 0.4em;
    }

    .act-detail-head-info {
        position: absolute;
        top: 230px;
        right: 0;
    }
}