.chat-page-container {
    display: grid;
    margin: 0 auto;
    max-height: 96.5%;
    width: 90%;
    column-gap: 0.5em;
    grid-template-rows: 15% 85%;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "title title"
        "member chat";
    margin-top: 1em;
}

.chat-member {
    grid-area: member;
}

.chat-activity-title {
    grid-area: title;
    display: flex;
    align-items: center;
    padding-left: 1em;
    font-size: 2.5em;
    gap: 0.2em;
}

.chat-container {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
    overflow: hidden;
}

.chat-header {
    border-bottom: 1px solid var(--gray60);
    height: 3em;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header strong{
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.chat-header strong svg{
    width: 1.5em;
    height: 1.5em;
}

.chat-header .view-member-btn {
    aspect-ratio: 1;
    background: none;
}

.chat-header .view-member-btn:hover {
    transform: translateY(-5%);
}

.chat-header .view-member-btn:hover svg path{
    fill: var(--blue60);
}

#view-member-check:checked ~ label > svg-x {
    display: inline-block !important;
}

#view-member-check:checked ~ label > svg-member {
    display: none !important;
}

.view-member-btn {
    width: 2em;
    height: 2em;
    display: none;
}

.view-member-btn svg-x{
    display: none !important;
}

.view-member-btn svg{
    height: 2em;
}

.view-member-btn svg path{
    fill: var(--blue80);
}

.message-container {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    overflow-y: auto;
    justify-content: column-reverse;
    gap: 0.75em;
}

.send-button svg {
    transition: all 0.3s;    
}

.send-button:hover svg{
    transform: translateX(10%);
}

.message-form {
    display: flex;
    border-top: 1px solid var(--gray60);
    padding: 1.2em 0;
    margin: 0 1.5em;
    gap: 1em;
}

.message-form>input {
    background-color: var(--gray50);
    border: none;
    flex: 1 1;
    padding: 0 1.5em;
}

.chat-bubble {
    display: grid;
    column-gap: 0.75em;
    max-width: 60%;
    grid-template-columns: 3em auto;
    grid-template-rows: 1.5em auto 1.5em;
    grid-template-areas: 
        "profile name"
        "profile message"
        ". date";
}

.chat-bb-profile {
    grid-area: profile;
    display: flex;
    align-items: end;
    position: relative;
}

.chat-bb-profile img {
    width: 100%;
}

.chat-bb-profile .crown{
    bottom: 3em;
    width: 50%;
    position: absolute;
    transform: translate(-50%, 30%);
    left: 50%;
}

.chat-bb-name {
    grid-area: name;
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-bb-message {
    grid-area: message;
    border-radius: 1em;
    padding: 0.4em 0.75em;
    background-color: var(--gray50);
    width: fit-content;
}

.chat-bb-date-time {
    grid-area: date;
    color: var(--gray70);
    font-size: 0.75rem;
}

.chat-bubble.self {
    grid-template-columns: 3em auto;
    grid-template-rows: auto 1.5em;
    grid-template-areas: 
        ". message"
        ". date";
    align-self: end;
}

.chat-bb-message.self {
    background-color: var(--blue40);
    justify-self: end;
}

.chat-bb-date-time.self {
    justify-self: end;
}

@media screen and (max-width: 480px) {
    .act-detail-member, .chat-activity-title {
        display: none;
    }

    .chat-header strong path{
        fill: var(--blue40)
    }

    .view-member-btn {
        display: flex;
    }

    .chat-page-container {
        grid-template-areas: 
            "chat chat"
            "chat chat";
        width: 100%;
        position: relative;
    }

    .act-detail-member {
        position: absolute;
        transform: translateX(-50%);
        top: 2em;
        left: 51%;
        width: 101%;
        height: calc(100% - 3em);
        z-index: 10;
        display: none;
    }
}

.show {
    display: flex;
}