/* search bar style */
.search-bar {
    width: max(38%, 20rem);
    height: 2.5em;
    display: flex;
    margin: 1rem auto;
    border-radius: 5rem;
    overflow: hidden;
    background-color: var(--white);
}

.search-bar>input {
    border: none;
    padding: 0.67em 1em;
    flex: 1 0;
    height: 100%;
}

.search-bar-x {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
}

.search-bar svg {
    width: 1.2em;
    height: 1.2em;
}

.search-bar-x>button:hover svg path {
    stroke: var(--gray90);
    transition: all 0.4s ease;
}

.search-bar-search {
    width: 2.5rem;
    background-color: var(--blue70);
}

.search-bar-search:hover {
    background-color: var(--blue90);
}

.search-bar-search:hover svg {
    transform: scale(1.05);
}

search-friend-bar {
    margin-top: 50px;
    grid-area: search;
    width: 100%;
}

.friend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80vh;
    background-color: var(--white);
    border-radius: 1.25rem;
    margin: 1rem auto;
    overflow: hidden;
}

.friend-header {
    background-color: var(--blue50);
    color: var(--white);
    height: 40px;
    padding: 0 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.friend-text {
    width: calc(100% - 8rem);
    background-color: var(--blue20);
    text-align: center;
    color: var(--gray90);
    font-weight: 500;
    margin: 0 4rem 1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.friend-li-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.friend-li-container>*{
    height: fit-content;
    flex: 1 1 calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
}

.member-list-item {
    display: grid;
    height: 4em;
    grid-template-columns: 1fr 5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "profile name approval"
    "profile role approval";
    gap: 0.1em 0.5em;
    line-height: 1;
    padding: 0.4em 0.75em;
    border-radius: 0.75em;
}

.member-list-item-profile{
    grid-area: profile;
    display: flex;
    position: relative;
    width: fit-content;
}

.member-list-item-profile .profile{
    height: 100%;
    object-fit: cover;
}

.member-list-item-name {
    grid-area: name;
    font-size: 1.125em;
    align-self: end;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.member-list-item-username {
    font-size: 0.9rem;
    color: var(--gray70);
    font-weight: 400;
}

.member-list-item-role {
    font-size: 0.875em;
    grid-area: role;
    font-weight: 500;
    color: var(--gray70);
}


.member-list-item-approval {
    grid-area: approval;
    justify-content: flex-end;
    column-gap: 0.25em;
}

.approval {
    height: 2em;
    width: 2em;
}

.approval svg {
    width: 1.125em;
    height: 1.125em;
}

#add-friend-btn svg {
    width: 1.375em;
    height: 1.375em;
    transform: translateX(-4%);
    transition: all 0.3s;
}

#add-friend-btn:hover svg {
    transform:translateX(-4%) scale(1.1);
}

svg-check svg path{
    fill: none !important;
}

.friend-not-found {
    margin: auto;
    font-size: 1.125rem;
    color: var(--gray70);
}

.find-friend-btn {
    margin: 1rem auto;
    width: fit-content;
}

@media screen and (max-width: 480px) {

    .friend-container {
        width: 90%;
        /* flex: 1; */
    }

    .friend-li-container {
        padding: 1rem 2rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        flex-wrap: nowrap;
    }

    .friend-li-container>* {
        max-width: 100%;
        flex: none;
    }
}