.home {
    position: absolute;
    left: 0;
}


.home-background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
}

.home-picture {
    margin: 20px 0px 75px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/home-pic.png");
    width: 1333px;
    height: 667px;
    row-gap: 50px;
    border-radius: 1rem;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.home-text h1{
    color: var(--white);
}

.home-big-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.home-big-text h1{
    line-height: 1.2;
}

.home-small-text {
    font-weight: 500;
}

.home-button {
    display: flex;
    gap: 30px;
}

.home-button-size {
    font-size: 20px;
    width: 200px;
}

.home-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.home-detail-header {
    width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

.home-detail h1 {
    color: #56BEFF;
    margin-right: 20px;
}

.home-text1-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    column-gap: 150px;
}

.home-text1-pic .home-text1 {
    width: 50%;
    color: #4D4D4D;
    font-weight: 400;
}

.home-text1-pic img {
    width: 308px;
    height: 308px;
}

.home-text2-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-text2-pic img {
    width: 280px;
    height: 200px;
    margin-top: 80px;
}

.home-pic-next {
    width: 80px !important;
    height: 80px !important;   
}

.home-text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.home-text2 h3 {
    width: 80%;
    color: #4D4D4D;
    font-weight: 400;
    text-align: center;
}

.home-text3-pic {
    color: #4D4D4D;
}

.home-text3-pic h2 {
    padding-left: 5%;
    padding-right: 5%;
    color: #4D4D4D;
    font-weight: 400;
}

.home-center {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: x-large;
    text-align: center;
}

.home-text3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.home-text3 img {
    width: 250px;
    height: 250px;
    border: 8px solid #50b6f5;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
}

.home-text3 img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.home-text3 h4 {
    margin-top: 10px;
    width: 250px;
    text-align: center;
}

.home-line {
    flex-grow: 1;
    border: 0;
    height: 3px;
    background-color: #56BEFF;
}

.home-last-button {
    margin-bottom: 50px;
}

.home-scroll {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translateY(600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.home-scroll h2 {
    font-size: medium;
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.home-scroll img {
    width: 60px;
    height: auto;
}

@media screen and (max-width: 480px) {

    .home {
        position: absolute;
        left: 0;
    }
    
    .home-background {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }

    .home-picture {
        margin: 20px 0px 20px 0px;
        background-size: cover;
        width: 90vw;
        height: 90vh;
    }

    .home-button {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .home-big-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .home-text {
        row-gap: 20px;
    }

    .home-button {
        gap: 20px;
    }

    .home-scroll {
        transform: translateY(550px);
    }

    .home-detail {
        width: 100vw;
    }


    .home-detail-header {
        width: 90%;
        max-width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .home-detail h1 {
        color: #56BEFF;
        margin-right: 0.5em;
    }

    .home-text1-pic {
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .home-text1-pic img{
        width: 200px;
        height: 200px;
    }

    .home-text1-pic .home-text1 {
        width: 80%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .home-text2-pic {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .home-text2-pic img {
        margin-top: 40px;
    }

    .home-pic-next {
        display: none;
    }
    

    .home-text3 {
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        row-gap: 20px;
    }

    .home-text3-pic {
        width: 80%;
    }

    .home-text3-pic h2{
        margin-top: 20px;
        font-size: 14px;
    }

    .home-text3 h4 {
        font-size: larger;
    }

    .home-center {
        font-size: large !important;
    }
}