.select_type {
  display: flex;
  width: fit-content;
  padding: 0em 1em;
  margin: 2rem 0rem;
  gap: 0.4rem;
}
.type {
  font-weight: 600;
  cursor: pointer;
  border-radius: 4rem;
  transition: all 0.3s ease;
  background-color: var(--white);
  border: var(--shadow) solid 1px;
  width: 6.5rem;
  padding: 0.5rem;
  font-size: 1.125rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.type:hover {
  color: var(--blue50);
  border: var(--blue50) solid 1px;
}
.type.active {
  background: var(--blue50);
  color: white;
}
.activities-bg {
  background-color: var(--white);
  border-radius: 0.4rem;
  width: 100%;
  min-width: 310px;
  height: auto;
  margin: 1rem auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
}

.activities-header {
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--blue50);
  padding: 1rem;
  border-radius: 0.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.activities {
  padding: 0.5rem 1rem;
}
.activity-not-found{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: gray;
  opacity: 50%;
}
.activity-dropdown {
  position: relative;
  display: inline-block;
  margin: 0.4rem auto;
  z-index: 10;
  width: 100%;
}

.activity-dropdown-btn {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  cursor: pointer;
  border: 1px solid var(--blue70);
  border-radius: 0.4rem;
  padding: 1rem;
  width: 100%;
  transition: all 0.3s ease;
  justify-content: space-between;
}
.activity-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.activity-name {
  text-align: left;
  align-self: center;
  width: 280px;
  font-size: 1.3rem;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tags-date {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: auto;
}
.activity-status{
  border: 1.5px solid var(--white);
  background-color: var(--blue70);
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  color: white;
  box-shadow: 0px 3px 4px 1px var(--shadow);
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  width: 69.2px;
}
.activity-name-status{
  display: flex;
  flex-direction: row;
  width: 380px;
}

.tags {
  min-width: 310px;
  width: 18vw;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.tag {
  border: 1.5px solid var(--white);
  background-color: var(--blue70);
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  color: black;
  font-size: 1.125rem;
  box-shadow: 0px 3px 4px 1px var(--shadow);
  text-align: center;
  width: 100px;
}
.date {
  gap: 0.5rem;
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: gray;
}

@media (max-width: 480px) {
  .activities-bg {
    min-width: 0px;
  }

  .activity-dropdown-btn {
    min-width: 0px;
    display: grid;
    grid-template-columns: 92% 8%;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.8rem;
  }
  .activity-dropdown-btn > svg{
    width: 16px;
  }
  
  .activity-details {
    gap: 0.5rem;
    flex-direction:row;
    align-items: flex-start;
  }
  
  .activity-name {
    min-width: 0px;
    font-size: 1.2rem;
    width: 200px;
  }
  
  .tags-date {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  
  .tags {
    min-width: 250px;
    gap: 0.4rem;
    justify-content: flex-start;
  }
  
  .tag {
    min-width: 0px;
    width: 30%;
    text-align: center;
  }
  
  .date {
    width: 100%;
    justify-content: flex-start;
  }
}

.activity-dropdown-btn:hover {
  background-color: var(--blue10);
}

.activity-dropdown-content {
  position: relative;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 20;
  padding: 0.5rem;
  border-radius: 0.4rem;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: -0.5rem;
  transition: height 0.3s ease-out, opacity 0.3s ease-out, margin 0.3s ease-out;
}
.dropdown-container {
  width: 100%;
  display: flex;
}
.dropdown-container > svg {
  width: 24px;
  min-width: 16px;
  margin: 1rem 1rem;
  align-self: self-start;
}

.members {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.member {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-content {
  width: 38vw;
  min-width: 0px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.member-rate-button{
  height: 2px;
  width: 112px;
}

.member-profile-pic{
  margin: 0.5rem;
  width: 3.5vw;
  height: 3.5vw;
  min-width: 40px;
  min-height: 40px;
  max-width: 65px;
  max-height: 65px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.member-profile-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-name-role{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.member-name {
  text-align: left;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-role {
  font-size: 0.875rem;
  text-align: left;
}

.rate-btn {
  border-radius: 10rem;
  border: 2px #fdc330 solid;
  color: #fdc330;
  background-color: white;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: right;
  gap: 0.2rem;
  width: 7rem;
  max-width: 120px;
  min-width: 50px;
}
.rate-btn:hover {
  background-color: #fdc330;
  color: white;
}

.rate-btn:hover svg {
  stroke: white;
}

.rate-btn:hover .review-text {
  color: white;
}

.rate-btn img {
  width: 1.5rem;
}

.review-text {
  color: #fdc330;
  font-size: 1.1rem;
  font-weight:500;
}

.activity-dropdown.open .activity-dropdown-content {
  opacity: 1;
  margin-top: 0.5rem;
}

.view-details {
  color: #fdc330;
  display: flex;
  background-color: var(--blue70);
  color: white;
  border-radius: 0.4rem;
  margin: 2rem 0 0.75rem 0;
  padding: 0.3rem 0.6rem;
  font-size: 1.1rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

@media (max-width: 504px) {
  .rate-btn {
    width: 30px;
  }
  .review-text{
    display: none;
  }
}

.rating-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-items: center;
  align-content: center;
  z-index: 9999;
}

.rating-pop-up {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.rating-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.rating-header {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

.rating-info {
  font-size: 1.125rem;
  text-align: center;
  color: gray;
}
.rating-info > img {
  display: block !important;
  margin: 1rem auto;
  width: 20%;
}
.comment-box {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #ccc;
  padding: 0.6rem;
  border-radius: 0.7rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

legend {
  font-size: 1rem;
  text-align: left;
  color: #666;
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 5px;
}
.post-btn {
  display: flex;
  gap: 0.5rem;
}
.rating-cancel {
  width: 50%;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.3rem;
  background-color: white;
  border-radius: 0.8rem;
  color: var(--blue70);
  border: var(--blue70) solid 1px;
}
.rating-post {
  width: 50%;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.3rem;
  background-color: var(--blue70);
  border-radius: 0.8rem;
  color: white;
}

.rating-cancel:hover {
  color: white;
  background-color: var(--blue90);
}
.rating-post:hover {
  background-color: var(--blue90);
  border: var(--blue90) solid 1px;
}

.star {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}
.star.active {
  color: gold;
}
.rating_member_profile_pic{
  margin: 1.5rem 0;
  align-self: center;
  justify-self: center;
  width: 3.5vw;
  height: 3.5vw;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.rating_member_profile_pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rating-change-component {
  margin: 1rem;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.18s ease-out, transform 0.18s ease-out;
}

.fade-in {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.18s ease-in, transform 0.18s ease-in;
}