.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.podium-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to top, #f0f0f0, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.podium-place > p{
    font-size: xx-large;
}

.podium-place > img{
    width: 60px;
    height: 60px;
}

.first { height: 320px; background: gold; }
.second { height: 260px; background: silver; }
.third { height: 220px; background: #cd7f32; }

.ranking-table {
    width: 100%;
    border-collapse: collapse;
}

.ranking-table th, .ranking-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.ranking-table th {
    background-color: #50b6f5;
    color: white;
}

.rating {
    background-color: var(--white);
    width: 85px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    padding: 9px;
}

.rating img {
    width: 23px;
    height: 23px;
}
