:root{
  --blue90: #36B2FF;

  --gray90: #4D4D4D;
  --gray80: #737373;
  --gray70: #9F9F9F;
  --gray60: #C6C6C6;
  --gray50: #E8E8E8;
  --white: #FFFFFF;

  --blue90: #5FA2FF;
  --blue80: #56BEFF;
  --blue70: #7FCEFF;
  --blue60: #77DAFF;
  --blue50: #56DFF4;
  --blue40: #90E1FF;
  --blue30: #A1D4FF;
  --blue20: #ADF1FD;
  --blue10: #DFF9FF;


  --red: #FF4E4E;
  --yellow: #FDC330;
  --green: #65DA8C;
  --pink: #FF90DA;

  --shadow: rgba(0, 0, 0, 0.12);
}

body {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Thai", sans-serif;
  list-style: none;
  color: var(--gray90);
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.75em;
  box-shadow: 0 0 5px 2px var(--shadow);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue80);
  border-radius: 1em;
  width: 0.5em;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, var(--pink), var(--yellow), var(--blue80));
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 1em;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  border: none;
  background-color: var(--white);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

html{
  background-image: url("../assets/page_bg.png");
}

main {
  margin: 4rem 10vw 0;
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  main {
    margin: 4rem 5vw 0;
  }

}

.cursor {
  cursor: pointer;
}

.no_select {
  user-select: none;
}

.hidden {
  display: none;
}

.shadow{
  box-shadow: 0px 0px 4px 1px var(--shadow);
}

.center {
  margin: auto;
}

.thrid_width {
  width: 33.33%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex_center {
  justify-content: center;
}

.flex_right {
  justify-content: end;
}

.gap {
  gap: 0.5rem;
}
.center_img {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.h_center {
  margin: 0 auto;
}

.gradient_blue {
  background-image: linear-gradient(to right, var(--blue50), var(--blue20));
}

.radial-blue-bg {
  background-image: radial-gradient(#DFF9FF, #C6F3FF);
}

.rainbow{
  background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80));
}

.rainbow_border{
  border: 2px solid ;
  border-image: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80)) 1;
  background-color: white;
}

.right {
  margin-left: auto;
}

.left_rounded {
  border-radius: 5rem 0 0 5rem;
}

.right_rounded {
  border-radius: 0 5rem 5rem 0;
}

.nav_bar_container {
  z-index: 1000;
  position: fixed;
  width: 100vw;
}

.nav_bar {
  font-weight:600;
  font-size: 1.125rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 5vw;
  gap: 0.7rem;
  padding: 0.2em 0;
  height: 4rem;
}

.nav_bar li{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_bar a{
  text-decoration: none;
}

.activity-a{
  color: white;
  min-width: 6.5rem;
  text-align: center;
}

.logo {
  position: absolute;
  translate: -50%;
  left: 50%;
}

.logo a{
  height: 70%;
  width: fit-content;
}

.logo img{
  height: 100%;
  object-fit: cover;
}

.m_left_auto {
  margin-left: auto;
}

.circle {
  height: 90%;
  aspect-ratio: 1;
}

.circle img{
  height: 100%;
}

#bell_button img{
  height: 65%;
}

.hamburger {
  display: none !important;
  display: flex;
  align-items: center;
  width: 2em;
  justify-content: center;
}

.hamburger svg-x {
  display: none !important;
}

.hamburger svg-x{
  height: 1.5em;
  width: 1.5em;
}

.hamburger svg-x svg{
  height: 1.5em;
  width: 1.5em;
}

.hamburger path{
  stroke: var(--white);
}

.hamburger-dropdown {
  display: none !important;
  position: absolute;
  width: 100%;
  top: 4rem;
  left: 0;
  background-color: var(--white);
  border: 1px solid var(--blue30);
  display: flex;
  flex-direction: column;
}

.hamburger-dropdown li a{
  width: 100%;
  padding: 0.2em 1em;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.hamburger-dropdown li a:hover {
  background-color: var(--blue10);
}

.hamburger-dropdown li svg{
  width: 1em;
  height: 0.85em;
}

.hamburger-dropdown li path{
  fill: var(--blue90);
}

#hamburger-check:checked + label  svg-hamburger {
  display: none !important;
}

#hamburger-check:checked ~ .hamburger-dropdown, #hamburger-check:checked + label svg-x{
  display: block !important;
}

.profile_dropdown {
  width: 15vw;
  height: fit-content;
  padding: 0 1em;
  position: absolute;
  right: 6vw;
  font-weight: 400;
  display: none;
  flex-direction: column;
  gap: 2em;
}

.info_dropdown {
  line-height: 1;
  display: grid;
  padding: 0.5em 0 0.7em;
  column-gap: 3%;
  grid-template-columns: 2.75em 75%;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas: 
    "profile first-name"
    "profile last-name"
    "profile username";
  color: var(--gray90);
}

.profile-container-dropdown {
  grid-area: profile;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-name-dropdown {
  grid-area: first-name;
  display: flex;
  align-items: flex-end;
}

.last-name-dropdown {
  grid-area: last-name;
  display: flex;
  align-items: center;
}

.username_dropdown {
  grid-area: username;
  font-size: 0.75rem;
  color: gray;
}

.username_dropdown::before {
  content: "@";
}

.btn_dropdown {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0.2rem 0;
  color: var(--gray90);
  cursor: pointer;
  user-select: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  &:hover {
      background-color:var(--gray50);
  }
  img {
      margin: 0 7px 0 7px;
      position: relative;
  }
}

.btn_dropdown a {
  display: flex;
  align-items: center;
}

#logout_button {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}

.noti-dropdown-container{
  width: 18vw;
  height: 20vw;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10vw;
  display: none;
  overflow: scroll;
}

.noti-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0;
  color: var(--gray80);
}

.noti-list {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 35% 45% 20%;
  grid-template-areas: 
    "icon title"
    "icon message"
    "icon datetime";
  padding: 3.5%;
  row-gap: 1%;
  column-gap: 0.5em;
  border-bottom: 1px solid var(--gray50);
}

.noti-icon {
  grid-area: icon;
  border-radius: 5rem;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: auto 0;
  justify-content: center;
}

.noti-icon svg {
  width: 25px;
  height: 25px;
}

.noti-act-title {
  grid-area: title;
  display: flex;
  align-items: flex-end;
  line-height: 1.2;
  font-size: 0.95em;
}

.noti-message {
  grid-area: message;
  line-height: 1;
  display: flex;
  font-size: 0.85em;
  color: var(--gray80)
}

.noti-datetime {
  grid-area: datetime;
  font-size: 0.7em;
  color: var(--gray70);
  display: flex;
  justify-content: flex-end;
  line-height: 1;
}

hr {
  margin: 0;
}

.blue_line {
  border: 1px solid var(--blue20);
}

.blue_line_dash {
  border: 1px dashed var(--blue20);
}


.lgbtq_select_btn{
  background-color: white;

  width: 142px;
  height: 48px;

  line-height: 52px;
  
  text-align: center;
  font-weight: 500;
  font-size: 18px;

  transition: background-image 0.3s ease;
}

.gender_select_btn{
  background-color: white;

  width: 142px;
  height: 48px;

  line-height: 55px;
  
  text-align: center;
  font-weight: 500;
  font-size: 18px;

  transition: all 0.3s ease;
}

#male_select_btn:hover::after {
  content: "male";
}

#female_select_btn:hover::after {
  content: "female";
}

.rainbow_text {
  background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue90));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login_btn_bg {
  background: url(../assets/login_btn_bg.svg) center center;
  background-repeat: no-repeat;
  color: var(--white);
  &:hover {
    background-position-y: -100%;
  }
}

.login_bg{
  background: url("../assets/login_btn_bg.svg") center center;
  color: white;
  &:hover {
      border: 2px solid var(--blue80);
      background: white;
      color: var(--blue80);
  }
}

/* redo css from here */
/* button size */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 0.25em;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--white);
}

.pseudo-btn input[type="checkbox"], .pseudo-btn input[type="radio"]{
  visibility: hidden;
  position: absolute;
}

.pseudo-btn {
  display: inline-block;
  /* text-align: center; */
  user-select: none;
}

.small {
  min-width: 5.625em;
  height: 1.875em;
  padding: 0.25em 0.67em;
  font-size: 1rem;
}

.medium {
  min-width: 6.67em;
  height: 2.25em;
  padding: 0.45em 0.67em;
  font-size: 1.125rem;
}

.large {
  min-width: 10em;
  height: 2.25em;
  padding: 0.4em 0.67em;
  font-size: 1.25rem;
  font-weight: 600;
}

.small svg, .medium svg, .large svg {
  width: 1.25em;
  height: 1.25em;
}

.round {
  border-radius: 2em;
}

.edge {
  border-radius: 0.4em;
}

  .w-mb-mb, .hover-w-mb-mb:hover {
    background-color: var(--white);
    color: var(--blue80);
    border: 2px solid var(--blue80);
    svg path {
      stroke: var(--blue80);
    }
  }

  .w-bb-bb, .hover-w-bb-bb:hover {
    background-color: var(--white);
    color: var(--blue60);
    border: 2px solid var(--blue60);
    svg path {
      stroke: var(--blue60);
    }
  }

  .w-mb, .hover-w-mb:hover {
    background-color: var(--white);
    color: var(--blue80);
    text-shadow: none;
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      stroke: var(--blue80);
      fill: var(--blue80);
    }
  }

  .w-db, .hover-w-db:hover {
    background-color: var(--white);
    color: var(--blue90);
    text-shadow: none;
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      stroke: var(--blue90);
    }
  }

  .lb-w, .hover-lb-w:hover {
    background-color: var(--blue40);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      fill: var(--white);
    }
}

  .mb-w, .hover-mb-w:hover {
    background-color: var(--blue70);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      stroke: var(--white);
    }
  }

  .lb-w-glow, .hover-lb-w-glow:hover {
    background-color: var(--blue40);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--blue40);
    svg path {
      stroke: var(--white);
    }
  }

  .db-w, .hover-db-w:hover {
    background-color: var(--blue80);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      fill: var(--white);
      stroke: var(--white);
    }
  }

  .bb-w, .hover-bb-w:hover {
    background-color: var(--blue60);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      /* fill: var(--white); */
      stroke: var(--white);
    }
  }
  
  .r-w, .hover-r-w:hover {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      /* fill: var(--white); */
      stroke: var(--white);
    }
  }

  .w-r-r, .hover-w-r-r:hover {
    background-color: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
    svg path {
      /* fill: var(--red); */
      stroke: var(--red);
    }
  }

  .w-r-r.hover-r-w:hover {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }
    
  .w-r-r.hover-r-w:hover svg path {
    stroke: var(--white);
  }

  .y-w, .hover-y-w:hover {
    background-color: var(--yellow);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      fill: var(--white);
    }
  }

  .gr-w, .hover-gr-w:hover {
    background-color: var(--green);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      stroke: var(--white);
      /* fill: var(--white); */
    }
  }

  .w-gr-gr, .hover-w-gr-gr:hover {
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
    svg path {
      stroke: var(--green);
      /* fill: var(--green); */
    }
  }

  .w-y-y, .hover-w-y-y:hover {
    background-color: var(--white);
    color: var(--yellow);
    border: 2px solid var(--yellow);
    svg path {
      fill: var(--yellow);
    }
  }

  .lb-w-w, .hover-lb-w-w {
    background-color: var(--blue40);
    color: var(--gray90);
    border: 2px solid var(--white);
    svg path {
      fill: var(--gray90);
    }
  }

  .rb-w, .hover-rb-w{
    background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80));
    -webkit-text-fill-color: var(--white);
    text-shadow: var(--shadow);
    svg path {
      fill: var(--white);
    }
  }

  .w-rb-rb, .hover-w-rb-rb {
    position: relative;
    background-color: white;
    svg path {
      fill: linear-gradient(to right, var(--pink), var(--yellow), var(--blue90));
    }
  }

  .w-rb-rb::before, .hover-w-rb-rb::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5rem;
    padding: 2px;
    background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80));
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .w-rb-rb * , .hover-w-rb-rb * {
    background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .w-p-p, .hover-w-p-p{
    background-color: var(--white);
    color: var(--pink);
    border: 2px solid var(--pink);
    svg path {
      fill: var(--pink);
    }
  }

  .w-g, .hover-w-g{
    background-color: var(--white);
    color: var(--gray90);
    svg path {
      fill: var(--gray90);
    }
  }

  .w-g-g, .hover-w-g-g{
    background-color: var(--white);
    color: var(--gray90);
    border: 2px solid var(--gray60);
    svg path {
      fill: var(--gray90);
    }
  }

.tag-selector {
  min-width: 5.5em;
  padding: 0.25em 1em;
  font-size: 1.125rem;
  color: var(--gray70);
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
}

.pagination-container {
  height: 2.25em;
  background-color: var(--white);
  overflow: hidden;
  padding: 0.1em 0;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  width: fit-content;
}

.pagination-btn{
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  color: var(--gray70);
  transition: all 0.3s;
}

.pagination-btn:not(:disabled):hover {
  color: var(--blue50);
  transform: translateY(-0.1em);
}

.pagination-btn:not(:disabled):hover path {
  fill: var(--gray90);
}

.pagination-btn:disabled {
  cursor:auto;
}

.pagination-btn:disabled path {
  fill: var(--gray60);
}

.pagination-item input:checked ~ .pagination-btn{
  background-color: var(--blue40);
  color: var(--white);
}

.letter-spacing {
  letter-spacing: 0.125em;
}

.act-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95%;
  border-bottom: 1px solid var(--gray60);
}

.act-card-profile-info {
  display: grid;
  grid-template-columns: 2.5em auto;
  grid-template-rows: 1fr 1fr;
  gap:0 0.25em;
  height: fit-content;
  position: relative;
}

header.act-card-profile-info{
  border-bottom: 1px solid var(--gray60);
}

.act-card-profile-info div:nth-child(1){
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.act-card-profile-info div:nth-child(1) img {
  width: 100%;
}

.act-card-profile-info div:nth-child(2){
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: end;
  font-weight: bold;
  align-self: end;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
}

.act-card-profile-info div:nth-child(2) span {
  text-overflow: ellipsis;
}

.act-card-profile-info div:nth-child(2) svg {
  width: 1.5em;
  height: 1.5em;
}

.act-card-profile-info div:nth-child(3){
  grid-area: 2 / 2 / 3 / 3;
  font-size: 0.75em;
  line-height: 1.5;
  display: flex;
  span {
    color: var(--gray80);
    height: fit-content;
  }
}

.act-card-review{
  margin: 0 0 0 0.75em;
  height: 1.3em;
  padding-left: 0.25em;
  border-left: 1px solid var(--gray60);
  display: flex;
  align-items: start;
}

.act-card-review svg{
  width: 1em;
  height: 1em;
  margin: 0.15em ;
}

.number-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.number-input-container button {
  background: var(--blue50);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-input-container button:hover {
  background: var(--blue80);
}

.number-input-container input {
  width: 60px;
  height: 40px;
  text-align: center;
  border: 2px solid var(--blue80);
  border-radius: 5px;
}

.tag-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ต่อแถว */
  gap: 10px; /* ระยะห่างระหว่างรายการ */
}

.pseudo-btn input:checked[name="Tags"] + label{
  background-color: var(--blue60);
  color: var(--white);
  box-shadow: 0px 0px 4px 1px var(--shadow);
}

.hover-ani-bounce:hover, .ani-bounce {
  animation: bounce 0.7s infinite ease-in-out;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.hover-ani-glow:hover, .ani-glow{
  animation: glow 1s infinite ease-in-out;
}

@keyframes glow {
  0% { box-shadow: 0 0 5px 0px var(--blue30); }
  50% { box-shadow: 0 0 5px 5px var(--blue30); }
  100% { box-shadow: 0 0 5px 0px var(--blue30); }
}

@keyframes bg-slide {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animated-bg {
  background: linear-gradient(90deg, var(--blue10), var(--blue30));
  background-size: 120% 100%;
  animation: bg-slide 10s infinite alternate linear;
}

.show {
  display: flex;
}

.comment-card {
  width: 1067px;
  height: 169px;
  margin: 10px;
  padding: 15px;
  border: solid 2px var(--blue80);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: row;
}

.comment-profile img {
  width: 50px;
  height: 50px;
}

.comment-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.comment-owner {
  background-color: var(--white);
  color: var(--gray90);
  font-size: 20px;
  font-weight: bold;
}

.comment-date {
  color: var(--gray60);
  font-size: 10px;
  font-weight: 600;
}

.user-comment {
  color: var(--gray90);
  font-size: 18px;
}

.comment-from {
  color: var(--gray90);
  font-size: 14px;
  font-weight: 500;
  align-self: flex-start; 
  margin-top: auto;
}

.comment-from a{
  color: var(--blue40);
}


@media screen and (max-width: 480px) {
  .nav-home, .nav-activity, #create_button {
    display: none;
  }

  .hamburger {
    display: flex !important;
  }

  .logo {
    left: 5vw;
    translate: 0%;
  }

  .profile_dropdown {
    width: 100%;
    left: 0;
    gap: 0;
  }

  .info_dropdown {
    grid-template-columns: 2.75em 75%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: 
      "profile first-name"
      "profile last-name"
      "profile username";
    color: var(--gray90);
  }

  #logout_button {
    width: fit-content;
    position: absolute;
    top: 1.25em;
    right: 1em;
  }

  #logout_button svg{
    width: 1.2em;
  }

  .blue_line_dash {
    display: none;
  }

  .noti-dropdown-container {
    width: 100%;
    height: 18rem;
    left: 0;
    font-size: 1.125rem;
  }

  .act-card-profile-info {
    font-size: 1.125rem;
  }
}