:root{
  --blue90: #36B2FF;

  --gray90: #4D4D4D;
  --gray80: #737373;
  --gray70: #9F9F9F;
  --gray60: #C6C6C6;
  --gray50: #E8E8E8;
  --white: #FFFFFF;

  --blue90: #5FA2FF;
  --blue80: #56BEFF;
  --blue70: #7FCEFF;
  --blue60: #77DAFF;
  --blue50: #56DFF4;
  --blue40: #90E1FF;
  --blue30: #A1D4FF;
  --blue20: #ADF1FD;
  --blue10: #DFF9FF;


  --red: #FF4E4E;
  --yellow: #FDC330;
  --green: #65DA8C;
  --pink: #FF90DA;

  --shadow: rgba(0, 0, 0, 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Thai", sans-serif;
  list-style: none;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  border: none;
}

html{
  background-image: url("../assets/page_bg.png");
}

main {
  margin: 0 6vw;
}

.cursor {
  cursor: pointer;
}

.no_select {
  user-select: none;
}

.hidden {
  display: none;
}

.shadow{
  box-shadow: 0px 0px 4px 1px var(--shadow);
}

.center {
  margin: auto;
}

.thrid_width {
  width: 33.33%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex_center {
  justify-content: center;
}

.flex_right {
  justify-content: end;
}

.center_img {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.h_center {
  margin: 0 auto;
}

.gradient_blue {
  background-image: linear-gradient(to right, var(--blue50), var(--blue20));
}

.rainbow{
  background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80));
}

.login_bg{
  background: url("assets/login_btn_bg.svg") center center;
  color: white;
  &:hover {
      border: 2px solid var(--blue80);
      background: white;
      color: var(--blue80);
  }
}

.rainbow_border{
  border: 2px solid ;
  border-image: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80)) 1;
  background-color: white;
}

.left {
  position: relative;
  left: -15px;
}

.left_rounded {
  border-radius: 5rem 0 0 5rem;
}

.right_rounded {
  border-radius: 0 5rem 5rem 0;
}

.nav_bar {
  position: relative;
  font-weight:600;
  font-size: 18px;
  list-style: none;
  display: flex;
  margin: 0 6vw;
  gap: 0.7rem;
}

.nav_bar li{
  display: flex;
  align-items: center;
}

.nav_bar a{
  text-decoration: none;
}

.nav_bar a:not(.button, .btn_dropdown, .medium-btn){
  color: white;
  min-width: 6.5rem;
  height: 64px;
  line-height: 64px;
  text-align: center;
}

.logo {
  position: absolute;
  translate: -50%;
  left: 50%;
}

.m_left_auto {
  margin-left: auto;
}

.profile_dropdown {
  max-width: 216px;
  height: 260px;
  padding: 0 14px;
  position: absolute;
  right: 120px;
  font-weight: 400;
  display: none;
}


.info_dropdown {
  width: 188px;
  height: 70px;
  line-height: 15px;
}

.name_dropdown {
  font-size: 14px;
  color: var(--gray90);

}

.username_dropdown {
  font-size: 12px;
  color: gray;
  line-height: 20px;
}

.btn_dropdown {
  width: 188px;
  height: 30px;
  margin: 3px 0;
  color: var(--gray90);
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  font-size: 16px;
  &:hover {
      background-color:var(--gray50);
  }
  img {
      margin: 0 7px 0 7px;
      position: relative;
      top: 4px;
  }
}

.log_out_dropdown {
  width: 150px;
  height: 30px;
  color: var(--red);
  border: 1px solid var(--red);
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  margin-top: 18px;
  &:hover {
      background-color: var(--red);
      color: white;
  }
}

hr {
  margin: 0;
}

.blue_line {
  border: 1px solid var(--blue20);
}

.blue_line_dash {
  border: 1px dashed var(--blue20);
}


.lgbtq_select_btn{
  background-color: white;

  width: 142px;
  height: 48px;

  line-height: 52px;
  
  text-align: center;
  font-weight: 500;
  font-size: 18px;

  transition: background-image 0.3s ease;
}

.gender_select_btn{
  background-color: white;

  width: 142px;
  height: 48px;

  line-height: 55px;
  
  text-align: center;
  font-weight: 500;
  font-size: 18px;

  transition: all 0.3s ease;
}

#male_select_btn:hover::after {
  content: "male";
}

#female_select_btn:hover::after {
  content: "female";
}

.rainbow_text {
  background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue90));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* redo css from here */
/* button size */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 0.25em;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--white);
}

.circle {
  width: 55px;
  height: 55px;
}

.small {
  min-width: 90px;
  padding: 0.25em 0.67em;
  font-size: 1rem;
  }

.medium {
  min-width: 120px;
  padding: 0.45em 0.67em;
  font-size: 1.125rem;
  }

.large {
  padding: 0.4em 0.67em;
  font-size: 1.25rem;
  font-weight: 600;
  }

  .round {
    border-radius: 2rem;
  }

  .edge {
    border-radius: 0.4rem;
  }

  .w-b-b, .hover-w-b-b:hover {
    background-color: var(--white);
    color: var(--blue80);
    border: 2px solid var(--blue80);
  }

  .w-b, .hover-w-b:hover {
    background-color: var(--white);
    color: var(--blue80);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .lb-w, .hover-lb-w:hover {
    background-color: var(--blue40);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .mb-w, .hover-mb-w:hover {
    background-color: var(--blue70);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .lb-w-glow, .hover-lb-w-glow:hover {
    background-color: var(--blue40);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--blue40);
  }

  .db-w, .hover-db-w:hover {
    background-color: var(--blue80);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .w-r-r, .r-w:hover {
    background-color: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
  }

  .r-w,  .w-r-r:hover {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .y-w, .w-y-y:hover, .hover-y-w:hover {
    background-color: var(--yellow);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .w-y-y, .y-w:hover, .hover-w-y-y:hover {
    background-color: var(--white);
    color: var(--yellow);
    border: 2px solid var(--yellow);
  }

/* search bar style */
.search-bar {
  width: 38%;
  height: 2.5em;
  display: flex;
  margin: 1rem auto 1rem auto;
  border-radius: 5rem;
  overflow: hidden;
  background-color: var(--white);
}
  
.search-bar>input{
  border: none;
  padding: 0.67em 1em;
  flex-grow: 1;
  height: 100%;
}

.search-bar-x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
}

.search-bar-x>button:hover svg path{
  stroke: var(--gray90);
  transition: all 0.4s ease;
}

.search-bar-search {
  width: 2.5rem;
  background-color: var(--blue70);
}

.search-bar-search:hover {
  background-color: var(--blue90);
}

.search-bar-search:hover svg{
  transform: scale(1.05);
}

/* this class has to be the last one to override other class*/
.show {
  display: block;
}

.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  background-color: var(--white);
  width: 400px;
  height: 575px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 2rem;
}

.profile-header {
  background-color: var(--blue50);
  color: var(--white);
  height: 40px;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.account-info {
  color: var(--gray90);
  margin: 20px;
  text-align: center;
  line-height: 1.5;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border: solid 1px var(--blue60);
  border-radius: 50%;
}

.personal-info {
  color: var(--gray90);
  margin: 0 0 25px 0;
  font-size: 16px;
  text-align: center;
}
.personal-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.personal-info div {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.profile-rating {
  color: var(--blue80);
  width: 65px;
  margin: auto;
  padding: 5px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow:  0 5px 10px var(--shadow);
}

.profile-rating img {
  width: 15px;
  margin-right: 5px;
}

.joined-review {
  color: var(--gray70);
  margin: 20px;
  font-size: 20px;
}

.joined-review div {
  width: 50%;
  float: left;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.joined-review a {
  color: var(--blue80);
  font-size: 14px;
  font-weight: normal;
}

.profile-joined {
  border-right: solid 1px var(--gray70);
}

.bio-card {
  background-color: var(--white);
  width: 700px;
  height: 350px;
  border-radius: 20px;
  margin-bottom: 1.3rem;
}

.bio-details {
  margin: 20px;
}

.bio-header {
  color: var(--gray70);
  font-weight: bold;
  margin-bottom: 5px;
}

.bio-info {
  color: var(--gray90);
  font-weight: bold;
  height: 70px;
}

.personal-card {
  background-color: var(--white);
  width: 700px;
  height: 200px;
  border-radius: 20px;
}

.personal-details {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 40%;
}


.personal-info {
  color: var(--gray90);
  font-weight: bold;
  margin: 0 0 25px 0;
}

.edit-profile-button {
  position: absolute;
  right: 90px;
  bottom: -20px; 
}

.edit-profile-button button {
  background-color: var(--blue70);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 0.5rem;
  cursor: pointer;
}

.edit-profile-button img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}