:root{
  --blue90: #36B2FF;

  --gray90: #4D4D4D;
  --gray80: #737373;
  --gray70: #9F9F9F;
  --gray60: #C6C6C6;
  --gray50: #E8E8E8;
  --white: #FFFFFF;

  --blue90: #5FA2FF;
  --blue80: #56BEFF;
  --blue70: #7FCEFF;
  --blue60: #77DAFF;
  --blue50: #56DFF4;
  --blue40: #90E1FF;
  --blue30: #A1D4FF;
  --blue20: #ADF1FD;
  --blue10: #DFF9FF;


  --red: #FF4E4E;
  --yellow: #FDC330;
  --green: #65DA8C;
  --pink: #FF90DA;

  --shadow: rgba(0, 0, 0, 0.12);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Thai", sans-serif;
  list-style: none;
  color: var(--gray90);
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  border: none;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

html{
  background-image: url("../assets/page_bg.png");
}

main {
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5vw 0 0;
}

.cursor {
  cursor: pointer;
}

.no_select {
  user-select: none;
}

.hidden {
  display: none;
}

.shadow{
  box-shadow: 0px 0px 4px 1px var(--shadow);
}

.center {
  margin: auto;
}

.thrid_width {
  width: 33.33%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex_center {
  justify-content: center;
}

.flex_right {
  justify-content: end;
}

.gap {
  gap: 0.5rem;
}
.center_img {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.h_center {
  margin: 0 auto;
}

.gradient_blue {
  background-image: linear-gradient(to right, var(--blue50), var(--blue20));
}

.radial-blue-bg {
  background-image: radial-gradient(#DFF9FF, #C6F3FF);
}

.rainbow{
  background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80));
}

.rainbow_border{
  border: 2px solid ;
  border-image: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80)) 1;
  background-color: white;
}

.left {
  position: relative;
  left: -15px;
}

.left_rounded {
  border-radius: 5rem 0 0 5rem;
}

.right_rounded {
  border-radius: 0 5rem 5rem 0;
}

.nav_bar_container {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.nav_bar {
  font-weight:600;
  font-size: 18px;
  list-style: none;
  display: flex;
  margin: 0 6vw;
  gap: 0.7rem;
}

.nav_bar li{
  display: flex;
  align-items: center;
}

.nav_bar a{
  text-decoration: none;
}

.nav_bar a:not(.button, .btn_dropdown, .medium-btn){
  color: white;
  min-width: 6.5rem;
  height: 64px;
  line-height: 64px;
  text-align: center;
}

.logo {
  position: absolute;
  translate: -50%;
  left: 50%;
}

.m_left_auto {
  margin-left: auto;
}

.profile_dropdown {
  max-width: 216px;
  height: 260px;
  padding: 0 14px;
  position: absolute;
  right: 6vw;
  font-weight: 400;
  display: none;
}


.info_dropdown {
  width: 188px;
  height: 70px;
  line-height: 15px;
}

.name_dropdown {
  font-size: 14px;
  color: var(--gray90);

}

.username_dropdown {
  font-size: 12px;
  color: gray;
  line-height: 20px;
}

.btn_dropdown {
  width: 188px;
  height: 30px;
  margin: 3px 0;
  color: var(--gray90);
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  font-size: 16px;
  &:hover {
      background-color:var(--gray50);
  }
  img {
      margin: 0 7px 0 7px;
      position: relative;
      top: 4px;
  }
}

.btn_dropdown a {
  display: flex;
}

.log_out_dropdown {
  width: 150px;
  height: 30px;
  color: var(--red);
  border: 1px solid var(--red);
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  margin-top: 18px;
  &:hover {
      background-color: var(--red);
      color: white;
  }
}

hr {
  margin: 0;
}

.blue_line {
  border: 1px solid var(--blue20);
}

.blue_line_dash {
  border: 1px dashed var(--blue20);
}


.lgbtq_select_btn{
  background-color: white;

  width: 142px;
  height: 48px;

  line-height: 52px;
  
  text-align: center;
  font-weight: 500;
  font-size: 18px;

  transition: background-image 0.3s ease;
}

.gender_select_btn{
  background-color: white;

  width: 142px;
  height: 48px;

  line-height: 55px;
  
  text-align: center;
  font-weight: 500;
  font-size: 18px;

  transition: all 0.3s ease;
}

#male_select_btn:hover::after {
  content: "male";
}

#female_select_btn:hover::after {
  content: "female";
}

.rainbow_text {
  background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue90));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login_btn_bg {
  background: url(../assets/login_btn_bg.svg) center center;
  background-repeat: no-repeat;
  color: var(--white);
  &:hover {
    background-position-y: -100%;
  }
}

.login_bg{
  background: url("../assets/login_btn_bg.svg") center center;
  color: white;
  &:hover {
      border: 2px solid var(--blue80);
      background: white;
      color: var(--blue80);
  }
}

/* redo css from here */
/* button size */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 0.25em;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--white);
}

.pseudo-btn input[type="checkbox"], .pseudo-btn input[type="radio"]{
  visibility: hidden;
}

.pseudo-btn {
  display: inline-block;
  text-align: center;
  user-select: none;
}

.circle {
  width: 55px;
  height: 55px;
}

.small {
  min-width: 5.625em;
  height: 1.875em;
  padding: 0.25em 0.67em;
  font-size: 1rem;
  }

.medium {
  min-width: 6.67em;
  height: 2.25em;
  padding: 0.45em 0.67em;
  font-size: 1.125rem;
  }

.large {
  min-width: 10em;
  height: 1.875em;
  padding: 0.4em 0.67em;
  font-size: 1.25rem;
  font-weight: 600;
  }

  .round {
    border-radius: 2em;
  }

  .edge {
    border-radius: 0.4em;
  }

  .w-mb-mb, .hover-w-mb-mb:hover {
    background-color: var(--white);
    color: var(--blue80);
    border: 2px solid var(--blue80);
  }

  .w-bb-bb, .hover-w-bb-bb:hover {
    background-color: var(--white);
    color: var(--blue60);
    border: 2px solid var(--blue60);
    text-shadow: none;
    svg path {
      stroke: var(--blue60);
    }
  }

  .w-mb, .hover-w-mb:hover {
    background-color: var(--white);
    color: var(--blue80);
    text-shadow: none;
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .lb-w, .hover-lb-w:hover {
    background-color: var(--blue40);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .mb-w, .hover-mb-w:hover {
    background-color: var(--blue70);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .lb-w-glow, .hover-lb-w-glow:hover {
    background-color: var(--blue40);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--blue40);
  }

  .bb-w, .hover-bb-w:hover {
      background-color: var(--blue60);
      color: var(--white);
      box-shadow: 0px 0px 4px 1px var(--shadow);
      text-shadow: 0px 0px 4px var(--gray80);
      svg path {
        fill: var(--white);
      }
    }
    
  .db-w, .hover-db-w:hover {
    background-color: var(--blue80);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
    svg path {
      fill: var(--white);
    }
  }

  

  .w-r-r {
    background-color: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
  }

  .r-w {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .y-w, .hover-y-w:hover {
    background-color: var(--yellow);
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow);
  }

  .w-y-y, .y-w:hover, .hover-w-y-y:hover {
    background-color: var(--white);
    color: var(--yellow);
    border: 2px solid var(--yellow);
  }

  .lb-w-w, .hover-lb-w-w {
    background-color: var(--blue40);
    color: var(--gray90);
    border: 2px solid var(--white);
  }

  .rb-w, .hover-rb-w{
    background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80));
    -webkit-text-fill-color: var(--white);
    text-shadow: var(--shadow);
  }

  .w-rb-rb, .hover-w-rb-rb {
    position: relative;
    background-color: white;
  }

  .w-rb-rb::before, .hover-w-rb-rb::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5rem;
    padding: 2px;
    background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue80));
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .w-rb-rb * , .hover-w-rb-rb * {
    background: linear-gradient(to right, var(--pink), var(--yellow), var(--blue90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .w-p-p, .hover-w-p-p{
    background-color: var(--white);
    color: var(--pink);
    border: 2px solid var(--pink);
  }

  .w-g, .hover-w-g{
    background-color: var(--white);
    color: var(--gray90);
  }

.pseudo-btn input:checked + label{
  background-color: var(--blue60);
  color: var(--white);
  box-shadow: 0px 0px 4px 1px var(--shadow);
}

#tag_filter_form {
  margin: 0 0 2rem;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
}

.pagination-container {
  width: 20.25em;
  background-color: var(--white);
  overflow: hidden;
  padding: 0.1em 0;
  margin: 3rem auto;
}

.pagination-item{
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25em;
  height: 2.25em;
  color: var(--gray70);
  transition: all 0.3s;
}

.pagination-container>*:not([data-value="..."]):hover .pagination-item, .pagination-container .pagination-item:hover path{
  color: var(--blue50);
  transform: translateY(-0.1em);
  fill: var(--gray90);
}


.show {
  display: block;
}

.letter-spacing {
  letter-spacing: 0.125em;
}

.act-card-profile-info {
  display: grid;
  grid-template-columns: 2.5em auto 3.75em;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid var(--gray60);
  gap:0 0.25em
}

.act-card-profile-info div:nth-child(1){
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.act-card-profile-info div:nth-child(1) img {
  width: 100%;
}

.act-card-profile-info div:nth-child(2){
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: end;
  font-weight: bold;
  align-self: end;
  line-height: 1;
}

.act-card-profile-info div:nth-child(2) svg {
  width: 1.5em;
  height: 1.5em;
}

.act-card-profile-info div:nth-child(3){
  grid-area: 2 / 2 / 3 / 3;
  font-size: 0.67em;
  line-height: 1.5;
  display: flex;
}

.act-card-review{
  margin: 0 0 0 0.75em;
  height: 1.3em;
  padding-left: 0.25em;
  border-left: 1px solid var(--gray60);
  display: flex;
  align-items: start;
}

.act-card-review svg{
  width: 1em;
  height: 1em;
  margin: 0.15em ;
}
