@{
    ViewData["Title"] = "Activity Review";
}

<header>
    <div class="header-container">
        <img src="../../assets/bookmark.svg" alt="bookmark">
        <p>@Model.Title</p>
    </div>

    <div class="banner">
        <div class="select-member">
            <label for="">Select Member</label>
        <select name="" id="">
            <option value=""></option>
            <option value="">Supakarn</option>
        </select>
        </div>
        <div class="review-count">
            <p>2/5 reviewed</p>
        </div>
    </div>

    <div class="comment">
        <div class="comment-header">
            <p>All comment</p>
        </div>
    </div>

    <script>
        try
    </script>
</header>